# Datasets -------------------------------------------------------------------------------------------------------------
tape_data
out
venv
utilities
tape_controller/tape_data
tape_controller/tape.dat