# Datasets -------------------------------------------------------------------------------------------------------------
tape_data
out
venv
utilities
tape_controller/tape.dat
staging
tape_data
fits
images